body {
  /*background: yellow;*/
  background-image:url('https://www.chromethemer.com/download/hd-wallpapers/blue-technology-3840x2160.jpg');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu {
  background-color: white;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style:none;
}

.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  color: white;
  text-align: center;
  font-style: italic;
}
